# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import requests
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [3]:
pd.read_sql('SHOW TABLES;', engine)

  Tables_in_admission_predict
0           admission_predict

In [4]:
df_admission_predict = pd.read_sql('SELECT * FROM admission_predict;',engine)

In [5]:
df_admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3,3.5,8,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.8
3,4,314,103,2,2,3,8.21,0,0.65
4,5,330,115,5,4.5,3,9.34,1,0.9
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3,3.5,9.11,1,0.84
382,383,330,116,4,5,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4,8.78,0,0.67
384,385,333,117,4,5,4,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [6]:
# your code here
df_admission_predict.columns = df_admission_predict.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [7]:
# your code here
df_admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3,3.5,8,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.8
3,4,314,103,2,2,3,8.21,0,0.65
4,5,330,115,5,4.5,3,9.34,1,0.9

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [8]:
# your code here
df_admission_predict.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [9]:
# your code here
df_admission_predict = df_admission_predict.set_index('Serial No.', drop=False)
df_admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3,3.5,8,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.8
4,4,314,103,2,2,3,8.21,0,0.65
5,5,330,115,5,4.5,3,9.34,1,0.9

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [10]:
grouped = df_admission_predict.groupby(['GRE Score','CGPA'], as_index=True).size()
grouped[grouped > 1].count()

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here
df_admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3,3.5,8,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.8
4,4,314,103,2,2,3,8.21,0,0.65
5,5,330,115,5,4.5,3,9.34,1,0.9
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3,3.5,9.11,1,0.84
383,383,330,116,4,5,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4,8.78,0,0.67
385,385,333,117,4,5,4,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [13]:
df_admission_predict.dtypes

Serial No.            int64
GRE Score             int64
TOEFL Score           int64
University Rating     int64
SOP                  object
LOR                  object
CGPA                 object
Research              int64
Chance of Admit      object
dtype: object

In [14]:
df_admission_predict.CGPA = df_admission_predict.CGPA.astype('float64')
df_admission_predict.SOP = df_admission_predict.SOP.astype('float64')
df_admission_predict['Chance of Admit'] = df_admission_predict['Chance of Admit'].astype('float64')

In [15]:
# your code here
df_admission_predict[(df_admission_predict['CGPA'] > 9) & (df_admission_predict['Research'] == 1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
5,5,330,115,5,4.5,3,9.34,1,0.90
11,11,328,112,4,4.0,4.5,9.10,1,0.78
20,20,328,116,5,5.0,5,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
380,380,329,111,4,4.5,4,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
385,385,333,117,4,5.0,4,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [16]:
# your code here
df_admission_predict[(df_admission_predict['CGPA'] > 9) & (df_admission_predict['SOP'] < 3.5)]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [17]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    mean = np.mean(col)
    std_dev = np.std(col)
    col_std = (col - mean) / std_dev
    return col_std

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [18]:
df_admission_predict.LOR = df_admission_predict.LOR.astype('float64')

In [19]:
df_admission_predict['CGPA_std'] = standardize(df_admission_predict['CGPA']) 
df_admission_predict['GRE_std'] = standardize(df_admission_predict['GRE Score'])
df_admission_predict['LOR_std'] = standardize(df_admission_predict['LOR'])

In [20]:
df_admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
Serial No.,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [21]:
# Libraries
from random import choices

In [22]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df_admission_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [23]:
# your code here
df_admission_predict['deciding_column'] = df_admission_predict.lookup(df_admission_predict.index, decision_choice)

In [24]:
df_admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
Serial No.,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.121191
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.234884
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [25]:
# your code here
df_admission_predict['decision'] = [1 if x > 0.8 else 0 for x in df_admission_predict['deciding_column']]
df_admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
Serial No.,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.234884,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840,0
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [26]:
# your code here
df_admission_predict['decision'].sum()

91

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [27]:
# your code here
df_admission_predict.columns = df_admission_predict.columns.str.lower().str.replace(' ','_')
df_admission_predict

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
Serial No.,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.234884,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840,0
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [31]:
# your code here
idx = df_admission_predict['university_rating'] >= 4
df_admission_predict.loc[idx]

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
Serial No.,,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1,347
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.234884,1,340
10,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,1.193197,1,337
11,11,328,112,4,4.0,4.5,9.10,1,0.78,0.835949,0.976043,1.193197,0.835949,1,338
19,19,325,114,4,3.0,2.0,8.40,0,0.70,-0.327610,0.716170,-1.597696,0.716170,0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,371,335,117,5,5.0,5.0,9.82,1,0.96,2.032753,1.582414,1.751376,1.751376,1,345
378,378,326,112,4,4.0,3.5,9.12,1,0.84,0.869194,0.802794,0.076840,0.802794,1,336
380,380,329,111,4,4.5,4.0,9.23,1,0.89,1.052039,1.062667,0.635019,1.062667,1,339
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1,340
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1,343

In [32]:
df_admission_predict['adjusted_gre'] = np.where(df_admission_predict['university_rating']>=4, df_admission_predict['gre_score']+10, df_admission_predict['gre_score'])

In [33]:
df_admission_predict.head()

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
Serial No.,,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1,347
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0,316
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,322
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,314
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.234884,1,340

In [35]:
pd.cut(df_admission_predict['gre_score'], 4)

Serial No.
1      (327.5, 340.0]
2      (315.0, 327.5]
3      (315.0, 327.5]
4      (302.5, 315.0]
5      (327.5, 340.0]
            ...
381    (315.0, 327.5]
382    (315.0, 327.5]
383    (327.5, 340.0]
384    (302.5, 315.0]
385    (327.5, 340.0]
Name: gre_score, Length: 385, dtype: category
Categories (4, interval[float64]): [(289.95, 302.5] < (302.5, 315.0] < (315.0, 327.5] < (327.5, 340.0]]