# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [123]:
# Libraries
import pandas as pd
import numpy as np
import os

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admission_predict`
* table: `admission_predict`

In [124]:
os.chdir("C:\\Users\\GiantsV3\\Documents\\Ironhack\\Week4\\Day1\\lab-advanced-pandas")

In [125]:
# your code here
admission = pd.read_csv("data/Admission_Predict.csv")
admission

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [126]:
# your code here
admission.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [127]:
col_names = admission.columns.str.strip()

In [128]:
admission.columns = col_names

Let's evaluate the dataset by looking at the `head` function.

In [129]:
# your code here
admission.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [130]:
# your code here
admission.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [131]:
admission_updated = admission.copy()

In [132]:
# your code here
admission_updated.set_index("Serial No.", drop=False, inplace=True)

In [133]:
admission_updated.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [134]:
# your code here
admission_updated[["GRE Score", "CGPA"]]

            GRE Score  CGPA
Serial No.
1                 337  9.65
2                 316  8.00
3                 322  8.67
4                 314  8.21
5                 330  9.34
...               ...   ...
381               324  9.04
382               325  9.11
383               330  9.45
384               312  8.78
385               333  9.66

[385 rows x 2 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [135]:
# your code here
admission_updated.drop("Serial No.", axis=1, inplace=True)

In [136]:
admission_updated.reset_index(inplace=True)

In [137]:
admission_updated.set_index(["GRE Score", "CGPA"], drop=True, inplace=True)
admission_updated.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [138]:
# your code here
admission[(admission["CGPA"] > 9) & (admission["Research"] == 1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [139]:
# your code here
admission[(admission["CGPA"] > 9) & (admission["SOP"] < 3.5)]["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [140]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """ 
    # your code here
    standardized_col = (col - np.mean(col)) / np.std(col)
    return standardized_col

In [141]:
standardize(admission["CGPA"])

0      1.750174
1     -0.992501
2      0.121191
3     -0.643433
4      1.234884
         ...
380    0.736216
381    0.852571
382    1.417729
383    0.304036
384    1.766796
Name: CGPA, Length: 385, dtype: float64

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [142]:
# your code here
admission["CGPA_std"] = standardize(admission["CGPA"])
admission["GRE_std"] = standardize(admission["GRE Score"])
admission["LOR_std"] = standardize(admission["LOR"])

We will generate the decision choice at random using the code below. Please run the cell.

In [143]:
# Libraries
from random import choice

In [144]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choice(std_columns)

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [145]:
# your code here
admission["deciding_column"] = admission[decision_choice]

In [146]:
admission.head(20)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.755663
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019,0.369672
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019,-0.756445
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874,-1.276191
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338,0.542921
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,0.889419
10,11,328,112,4,4.0,4.5,9.10,1,0.78,0.835949,0.976043,1.193197,0.976043
11,12,307,109,3,4.0,3.0,8.00,1,0.62,-0.992501,-0.843069,-0.481338,-0.843069
12,13,311,104,3,3.5,2.0,8.20,1,0.61,-0.660055,-0.496571,-1.597696,-0.496571
13,14,314,105,3,3.5,2.5,8.30,0,0.54,-0.493833,-0.236698,-1.039517,-0.236698
14,15,317,107,3,4.0,3.0,8.70,0,0.66,0.171058,0.023175,-0.481338,0.023175
15,16,319,106,3,4.0,3.0,8.00,1,0.65,-0.992501,0.196424,-0.481338,0.196424
16,17,318,110,3,4.0,3.0,8.80,0,0.63,0.337281,0.109799,-0.481338,0.109799
17,18,303,102,3,3.5,3.0,8.50,0,0.62,-0.161387,-1.189567,-0.481338,-1.189567
18,19,325,114,4,3.0,2.0,8.40,0,0.70,-0.327610,0.716170,-1.597696,0.716170
19,20,328,116,5,5.0,5.0,9.50,1,0.94,1.500840,0.976043,1.751376,0.976043

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [147]:
# your code here
admission["decision"] = 0

In [148]:
admission["decision"][admission["deciding_column"] > 0.8] = 1

<ipython-input-148-4b73cf5c4ea6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admission["decision"][admission["deciding_column"] > 0.8] = 1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [149]:
# your code here
admission["decision"].value_counts()

0    293
1     92
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [150]:
# your code here
admission.columns = admission.columns.str.lower().str.replace(" ", "_").str.replace(".", "")
admission.head()

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [155]:
# your code here
adm_add = admission["gre_score"][admission["university_rating"] >= 4] + 10

In [156]:
admission["gre_score"][admission["university_rating"] >= 4] = adm_add

<ipython-input-156-0c02790563f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admission["gre_score"][admission["university_rating"] >= 4] = adm_add

In [158]:
admission["adjusted_gre"] = pd.cut(admission["gre_score"],
                                  bins=4)

In [159]:
admission

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,1,347,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.755663,1,"(335.0, 350.0]"
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,"(305.0, 320.0]"
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297,0,"(320.0, 335.0]"
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,"(305.0, 320.0]"
4,5,340,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0,"(320.0, 335.0]"
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0,"(320.0, 335.0]"
382,383,340,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1,"(335.0, 350.0]"
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,"(305.0, 320.0]"
384,385,343,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1,"(335.0, 350.0]"