# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [90]:
admission = pd.read_csv("admission_predict.csv")

In [91]:
del admission["Unnamed: 0"]
admission.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [92]:
admission.columns
admission = admission.rename(columns = {"Serial No.":"Serial_No", "GRE Score":"GRE_Score", "TOFEL Score":"TOFEL_Score", "University Rating":"University_rating", "Chance of Admit":"Chance_of_Admit"})

Remove trailing spaces at the end of the column names if there are any.

In [48]:
admission.columns
# There is no trailling spaces at the end of the column names

Index(['Serial_No', 'GRE_Score', 'TOEFL Score', 'University_rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance_of_Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [49]:
admission.head()

,Serial_No,GRE_Score,TOEFL Score,University_rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [39]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial_No            385 non-null int64
GRE_Score            385 non-null int64
TOEFL Score          385 non-null int64
University_rating    385 non-null int64
SOP                  385 non-null float64
LOR                  385 non-null float64
CGPA                 385 non-null float64
Research             385 non-null int64
Chance_of_Admit      385 non-null float64
dtypes: float64(4), int64(5)
memory usage: 27.1 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [50]:
admission = admission.set_index("Serial_No")
admission.head()

,GRE_Score,TOEFL Score,University_rating,SOP,LOR,CGPA,Research,Chance_of_Admit
Serial_No,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
admission.groupby(["GRE_Score", "CGPA"]).ngroups

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [51]:
admission = admission.set_index(["GRE_Score", "CGPA"])
admission.head()

,,TOEFL Score,University_rating,SOP,LOR,Research,Chance_of_Admit
GRE_Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [52]:
admission.reset_index(inplace=True)

In [53]:
admission.head()

,GRE_Score,CGPA,TOEFL Score,University_rating,SOP,LOR,Research,Chance_of_Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [54]:
df = admission[(admission["CGPA"] > 9) & (admission["Research"] == 1)]
df.head()

,GRE_Score,CGPA,TOEFL Score,University_rating,SOP,LOR,Research,Chance_of_Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [55]:
df2 = admission[(admission["CGPA"] > 9) & (admission["SOP"] < 3.5)]
df2["Chance_of_Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [24]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    col_mean = np.mean(col)
    col_std = np.std(col)
    col_new = [(x-col_mean)/col_std for x in col]
    return col_new

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [93]:
admission["CGPA_std"] = standardize(admission["CGPA"])
admission["GRE_std"] = standardize(admission["GRE_Score"])
admission["LOR_std"] = standardize(admission["LOR"])

In [94]:
admission.head(10)

,Serial_No,GRE_Score,TOEFL Score,University_rating,SOP,LOR,CGPA,Research,Chance_of_Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197

We will generate the decision choice at random using the code below. Please run the cell.

In [39]:
# Libraries
from random import choices

In [98]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admission.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [99]:
admission["deciding_column"] = admission.lookup(admission.index, decision_choice)

In [100]:
admission.head()

,Serial_No,GRE_Score,TOEFL Score,University_rating,SOP,LOR,CGPA,Research,Chance_of_Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.992501
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [102]:
admission["decision"] = admission["deciding_column"].apply(lambda x: 1 if x > 0.8 else 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [105]:
admission["decision"].value_counts()

0    295
1     90
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [110]:
cols = admission.columns
cols = [x.lower() for x in cols]
admission.columns = cols
admission.head()

,serial_no,gre_score,toefl score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.