# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [53]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admission_predict`
* table: `admission_predict`

In [2]:
    # your code here
admissions = pd.read_csv('../Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [9]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
admissions.isnull().count()

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
admissions.index = admissions['Serial No.']

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            376, 377, 378, 379, 380, 381, 382, 383, 384, 385],
           dtype='int64', name='Serial No.', length=385)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [11]:
# your code here
sum(admissions[['GRE Score', 'CGPA']].duplicated())

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [15]:
# your code here
admissions.set_index(["GRE Score", "CGPA"], inplace = True)
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

In [16]:

admissions.reset_index(inplace = True)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [17]:
# your code here
sum(admissions.eval("CGPA > 9 & Research == 1"))

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [19]:
# returning the rows where the evaluation is true
sum(admissions.eval("CGPA > 9 & SOP < 3.5 "))

5

In [25]:
# the mean chance of admit for these applicant
round(admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]["Chance of Admit"].mean(),2)

0.8

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [42]:
def standardize(columns):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return round((columns - columns.mean()) / columns.std(),2)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [43]:
# your code here
admissions["CGPA_std"] = standardize(admissions["CGPA"])
admissions["GRE_std"] = standardize(admissions["GRE Score"])
admissions["LOR_std"] = standardize(admissions["LOR"])
admissions["CGPA_std"].head()

0    1.75
1   -0.99
2    0.12
3   -0.64
4    1.23
Name: CGPA_std, dtype: float64

We will generate the decision choice at random using the code below. Please run the cell.

In [47]:
# Libraries
from random import choices

In [66]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

1   -0.99
2   -1.04
3   -0.48
4    1.23
Name: deciding_column, dtype: float64

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [63]:
# your code here
admissions["deciding_column"] = admissions.lookup(admissions.index, decision_choice)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.75,1.75,1.19,1.75
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.99,-0.06,0.08,-0.99
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.12,0.46,-1.04,-1.04
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.64,-0.24,-0.48,-0.48
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.23,1.15,-0.48,1.23

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [68]:
# your code here
admissions["decision"] = np.where(admissions.deciding_column[:] > 0.8, 1, 0)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.75,1.75,1.19,1.75,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.99,-0.06,0.08,-0.99,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.12,0.46,-1.04,-1.04,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.64,-0.24,-0.48,-0.48,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.23,1.15,-0.48,1.23,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [71]:
# your code here
sum(admissions.eval("decision != 0"))

83

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [81]:
# your code here
admissions.columns = admissions.columns.str.replace("[^\w\s ]", "").str.replace(" ","_").str.lower()
admissions.columns

Index(['gre_score', 'cgpa', 'serial_no', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'cgpa_std', 'gre_std',
       'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [82]:
# your code here
admissions["adjusted_gre"] = np.where(admissions["university_rating"] >= 4, admissions["gre_score"] + 10, admissions["gre_score"])

In [85]:
admissions["gre_interval"]= pd.cut(admissions["adjusted_gre"], bins=4, labels=["low", "medium", "high", "very high"])

In [86]:
admissions.head()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,gre_interval
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.75,1.75,1.19,1.75,1,347,very high
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.99,-0.06,0.08,-0.99,0,316,medium
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.12,0.46,-1.04,-1.04,0,322,high
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.64,-0.24,-0.48,-0.48,0,314,medium
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.23,1.15,-0.48,1.23,1,340,very high