# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [199]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admission_predict`
* table: `admission_predict`

In [200]:
from sqlalchemy import create_engine

driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'admission_predict'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

engine = create_engine(connection_string)
engine

mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136/admission_predict

Engine(mysql+pymysql://data-students:***@34.65.10.136/admission_predict)

In [201]:
admission_predict = pd.read_sql('SELECT * FROM admission_predict', engine)

Remove trailing spaces at the end of the column names if there are any.

In [202]:
admission_predict.columns = admission_predict.columns.str.replace(' +$', '_')

Let's evaluate the dataset by looking at the `head` function.

In [203]:
admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3,3.5,8,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.8
3,4,314,103,2,2,3,8.21,0,0.65
4,5,330,115,5,4.5,3,9.34,1,0.9

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [204]:
admission_predict.isnull().any()

# There are no missing values in the dataset.

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [205]:
admission_predict = admission_predict.set_index('Serial No.')
admission_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3,3.5,8,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.8
4,314,103,2,2,3,8.21,0,0.65
5,330,115,5,4.5,3,9.34,1,0.9
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3,3.5,9.11,1,0.84
383,330,116,4,5,4.5,9.45,1,0.91
384,312,103,3,3.5,4,8.78,0,0.67
385,333,117,4,5,4,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [206]:
admission_predict.set_index(['GRE Score', 'TOEFL Score'], inplace = True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [207]:
admission_predict.reset_index(inplace = True)

In [208]:
admission_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,316,104,3,3,3.5,8,1,0.72
2,322,110,3,3.5,2.5,8.67,1,0.8
3,314,103,2,2,3,8.21,0,0.65
4,330,115,5,4.5,3,9.34,1,0.9
...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82
381,325,107,3,3,3.5,9.11,1,0.84
382,330,116,4,5,4.5,9.45,1,0.91
383,312,103,3,3.5,4,8.78,0,0.67
384,333,117,4,5,4,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [209]:
admission_predict.dtypes

GRE Score             int64
TOEFL Score           int64
University Rating     int64
SOP                  object
LOR                  object
CGPA                 object
Research              int64
Chance of Admit      object
dtype: object

In [210]:
admission_predict["CGPA"] = admission_predict["CGPA"].astype(float)

In [211]:
admission_predict[(admission_predict["CGPA"] > 9) & (admission_predict["Research"] == 1)]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
4,330,115,5,4.5,3,9.34,1,0.9
10,328,112,4,4,4.5,9.10,1,0.78
19,328,116,5,5,5,9.50,1,0.94
20,334,119,5,5,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...
379,329,111,4,4.5,4,9.23,1,0.89
380,324,110,3,3.5,3.5,9.04,1,0.82
381,325,107,3,3,3.5,9.11,1,0.84
382,330,116,4,5,4.5,9.45,1,0.91
384,333,117,4,5,4,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [212]:
admission_predict["SOP"] = admission_predict["SOP"].astype(float)
admission_predict["Chance of Admit"] = admission_predict["Chance of Admit"].astype(float)
admission_predict["LOR"] = admission_predict["LOR"].astype(float)

In [213]:
temp_df = admission_predict[(admission_predict["CGPA"] > 9) & (admission_predict["SOP"] < 3.5)]
round(temp_df["Chance of Admit"].mean())

1.0

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [214]:
def standardize(df, col):
    array = df[col].to_numpy()
    mean = np.mean(array)
    substracted_mean = [elem - mean for elem in array]
    s_x = np.std(array)
    return substracted_mean/s_x

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [215]:
GRE_std = list(standardize(admission_predict, "GRE Score"))
CGPA_std = list(standardize(admission_predict, "CGPA"))
LOR_std = list(standardize(admission_predict, "LOR"))

In [216]:
len(LOR_std)

385

In [217]:
len(admission_predict)

385

In [218]:
admission_predict["GRE_std"] = GRE_std
admission_predict["CGPA_std"] = CGPA_std
admission_predict["LOR_std"] = LOR_std
admission_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std
0,337,118,4,4.5,4.5,9.65,1,0.92,1.755663,1.750174,1.193197
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.063450,-0.992501,0.076840
2,322,110,3,3.5,2.5,8.67,1,0.80,0.456297,0.121191,-1.039517
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.236698,-0.643433,-0.481338
4,330,115,5,4.5,3.0,9.34,1,0.90,1.149292,1.234884,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.629546,0.736216,0.076840
381,325,107,3,3.0,3.5,9.11,1,0.84,0.716170,0.852571,0.076840
382,330,116,4,5.0,4.5,9.45,1,0.91,1.149292,1.417729,1.193197
383,312,103,3,3.5,4.0,8.78,0,0.67,-0.409947,0.304036,0.635019
384,333,117,4,5.0,4.0,9.66,1,0.95,1.409165,1.766796,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [219]:
# Libraries
from random import choices

In [220]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admission_predict.shape[0])
decision_choice

['LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [221]:
admission_predict['deciding_column'] = admission_predict.lookup(admission_predict.index, decision_choice)
admission_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column
0,337,118,4,4.5,4.5,9.65,1,0.92,1.755663,1.750174,1.193197,1.193197
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.063450,-0.992501,0.076840,-0.063450
2,322,110,3,3.5,2.5,8.67,1,0.80,0.456297,0.121191,-1.039517,0.121191
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698
4,330,115,5,4.5,3.0,9.34,1,0.90,1.149292,1.234884,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.629546,0.736216,0.076840,0.736216
381,325,107,3,3.0,3.5,9.11,1,0.84,0.716170,0.852571,0.076840,0.076840
382,330,116,4,5.0,4.5,9.45,1,0.91,1.149292,1.417729,1.193197,1.193197
383,312,103,3,3.5,4.0,8.78,0,0.67,-0.409947,0.304036,0.635019,0.635019
384,333,117,4,5.0,4.0,9.66,1,0.95,1.409165,1.766796,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [222]:
admission_predict["decision"] = admission_predict["deciding_column"].apply(lambda x: 1 if x > 0.8 else 0)
admission_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column,decision
0,337,118,4,4.5,4.5,9.65,1,0.92,1.755663,1.750174,1.193197,1.193197,1
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0
2,322,110,3,3.5,2.5,8.67,1,0.80,0.456297,0.121191,-1.039517,0.121191,0
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0
4,330,115,5,4.5,3.0,9.34,1,0.90,1.149292,1.234884,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.629546,0.736216,0.076840,0.736216,0
381,325,107,3,3.0,3.5,9.11,1,0.84,0.716170,0.852571,0.076840,0.076840,0
382,330,116,4,5.0,4.5,9.45,1,0.91,1.149292,1.417729,1.193197,1.193197,1
383,312,103,3,3.5,4.0,8.78,0,0.67,-0.409947,0.304036,0.635019,0.635019,0
384,333,117,4,5.0,4.0,9.66,1,0.95,1.409165,1.766796,0.635019,0.635019,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [223]:
len(admission_predict[admission_predict["decision"] == 1])

# 95 applicants will be accepted to the program

89

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [228]:
# your code here

admission_predict.columns = admission_predict.columns.str.replace('\W', '_')
admission_predict.columns = admission_predict.columns.str.lower()
# admission_predict.columns = admission_predict.columns.str.replace("[A-Z]", " ")
# admission_predict.columns = admission_predict.columns.str.replace("[A-Z]", " ")
admission_predict.columns 


admission_predict[admission_predict.columns] 
admission_predict

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision
0,337,118,4,4.5,4.5,9.65,1,0.92,1.755663,1.750174,1.193197,1.193197,1
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0
2,322,110,3,3.5,2.5,8.67,1,0.80,0.456297,0.121191,-1.039517,0.121191,0
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0
4,330,115,5,4.5,3.0,9.34,1,0.90,1.149292,1.234884,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.629546,0.736216,0.076840,0.736216,0
381,325,107,3,3.0,3.5,9.11,1,0.84,0.716170,0.852571,0.076840,0.076840,0
382,330,116,4,5.0,4.5,9.45,1,0.91,1.149292,1.417729,1.193197,1.193197,1
383,312,103,3,3.5,4.0,8.78,0,0.67,-0.409947,0.304036,0.635019,0.635019,0
384,333,117,4,5.0,4.0,9.66,1,0.95,1.409165,1.766796,0.635019,0.635019,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [241]:
# Method 1

condlist = [admission_predict["university_rating"] >= 4]
choicelist = [admission_predict['gre_score'] + 10]
admission_predict['adjusted_gre'] = np.select(condlist, choicelist, default=admission_predict['gre_score'])

admission_predict

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision,adjusted_gre
0,337,118,4,4.5,4.5,9.65,1,0.92,1.755663,1.750174,1.193197,1.193197,1,347
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0,316
2,322,110,3,3.5,2.5,8.67,1,0.80,0.456297,0.121191,-1.039517,0.121191,0,322
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0,314
4,330,115,5,4.5,3.0,9.34,1,0.90,1.149292,1.234884,-0.481338,-0.481338,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.629546,0.736216,0.076840,0.736216,0,324
381,325,107,3,3.0,3.5,9.11,1,0.84,0.716170,0.852571,0.076840,0.076840,0,325
382,330,116,4,5.0,4.5,9.45,1,0.91,1.149292,1.417729,1.193197,1.193197,1,340
383,312,103,3,3.5,4.0,8.78,0,0.67,-0.409947,0.304036,0.635019,0.635019,0,312
384,333,117,4,5.0,4.0,9.66,1,0.95,1.409165,1.766796,0.635019,0.635019,0,343

In [263]:
temp

0       True
1      False
2      False
3      False
4       True
       ...
380    False
381    False
382     True
383    False
384     True
Name: university_rating, Length: 385, dtype: bool

In [269]:
# Method 2 - WORK IN PROGRESS 

temp = admission_predict["university_rating"] >= 4
for i in temp:
    if i == True:
        print ("hi")
    else:
        print ("no")
        
[i if i == True for i in temp]

SyntaxError: invalid syntax (<ipython-input-269-3968f98f6e79>, line 10)

In [257]:
admission_predict['adjusted_gre'] = admission_predict['gre_score'].apply(lambda x: x + 10 if admission_predict["university_rating"] >= 4 else x)

SyntaxError: invalid syntax (<ipython-input-257-c7a999b4f63c>, line 1)