# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [47]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admission_predict`
* table: `admission_predict`

In [4]:
admission_predict = pd.read_csv('../Dataset as a CSV/Admission_Predict.csv')
admission_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [9]:
admission_predict.rename(columns=lambda x: x.strip(), inplace=True)

Let's evaluate the dataset by looking at the `head` function.

In [11]:
admission_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [16]:
admission_predict.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [22]:
admission_predict_indexed = admission_predict.set_index('Serial No.', drop=False)
admission_predict_indexed

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [40]:
df = pd.DataFrame()
df['GRE+CGPA'] = admission_predict_indexed['GRE Score'].astype(str) + admission_predict_indexed['CGPA'].astype(str)
len(df['GRE+CGPA'].unique())

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [42]:
admission_predict_indexed_2 = admission_predict_indexed.set_index(['GRE Score','CGPA'], drop=False)
admission_predict_indexed_2

,,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,CGPA,,,,,,,,,
337,9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
316,8.00,2,316,104,3,3.0,3.5,8.00,1,0.72
322,8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
314,8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
330,9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...,...
324,9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
325,9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
330,9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
312,8.78,384,312,103,3,3.5,4.0,8.78,0,0.67
333,9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [45]:
cond1 = (admission_predict_indexed_2['Research'] == 1) & (admission_predict_indexed_2['CGPA'] > 9)

admission_predict_indexed_2[cond1]

                Serial No.  GRE Score  TOEFL Score  University Rating  SOP  \
GRE Score CGPA
337       9.65           1        337          118                  4  4.5
330       9.34           5        330          115                  5  4.5
328       9.10          11        328          112                  4  4.0
          9.50          20        328          116                  5  5.0
334       9.70          21        334          119                  5  5.0
...                    ...        ...          ...                ...  ...
329       9.23         380        329          111                  4  4.5
324       9.04         381        324          110                  3  3.5
325       9.11         382        325          107                  3  3.0
330       9.45         383        330          116                  4  5.0
333       9.66         385        333          117                  4  5.0

                LOR  CGPA  Research  Chance of Admit
GRE Score CGPA
337       9.65  4.5  9.65         1             0.92
330       9.34  3.0  9.34         1             0.90
328       9.10  4.5  9.10         1             0.78
          9.50  5.0  9.50         1             0.94
334       9.70  4.5  9.70         1             0.95
...             ...   ...       ...              ...
329       9.23  4.0  9.23         1             0.89
324       9.04  3.5  9.04         1             0.82
325       9.11  3.5  9.11         1             0.84
330       9.45  4.5  9.45         1             0.91
333       9.66  4.0  9.66         1             0.95

[101 rows x 9 columns]

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [46]:
cond2 = (admission_predict_indexed_2['SOP'] < 3.5) & (admission_predict_indexed_2['CGPA'] > 9)

admission_predict_indexed_2[cond2]

,,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,CGPA,,,,,,,,,
338,9.40,29,338,118,4,3.0,4.5,9.40,1,0.91
327,9.02,63,327,114,3,3.0,3.0,9.02,0,0.61
326,9.11,141,326,114,3,3.0,3.0,9.11,1,0.83
324,9.01,218,324,111,4,3.0,3.0,9.01,1,0.82
325,9.11,382,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [48]:
def standardize(col):
    mean = np.mean(col)
    std = np.std(col)
    
    newcol = []
    for c in col:
        newcol.append((c-mean)/std)
        
    return newcol

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [62]:
CGPA_std = standardize(admission_predict['CGPA'])
GRE_std = standardize(admission_predict['GRE Score'])
LOR_std = standardize(admission_predict['LOR'])

admissions = admission_predict.join(pd.DataFrame({'CGPA_std': CGPA_std, 'GRE_std': GRE_std, 'LOR_std':LOR_std}))
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [56]:
# Libraries
from random import choices

In [57]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [63]:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.304036
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [83]:
admissions['decision'] = np.nan

dec_ok = admissions['deciding_column'] > 0.8
dec_not = admissions['deciding_column'] <= 0.8

admissions['decision'][dec_ok] = 1
admissions['decision'][dec_not] = 0

admissions

/home/linuxbrew/.linuxbrew/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/linuxbrew/.linuxbrew/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1.0
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0.0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0.0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0.0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0.0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1.0
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.304036,0.0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.766796,1.0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [87]:
admissions['decision'][admissions['decision'] == 1].sum()

84.0

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [91]:
cols = admissions.columns
newcols = []
for c in cols: 
    newcols.append(c.replace(' ','_').lower().replace('.',''))

newcols
admissions.columns = newcols

admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.750174,1.0
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0.0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0.0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0.0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0.0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1.0
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.304036,0.0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.766796,1.0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.