# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [62]:
# Libraries
import requests
import pandas as pd
import json
from sqlalchemy import create_engine

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admission_predict`
* table: `admission_predict`

In [63]:
# your code here
driver   = 'mysql+pymysql:'
user     = 'root'
password = 'Ironhack12'
ip       = '127.0.0.1'
database = 'admission_predict'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://root:***@127.0.0.1/admission_predict)

Remove trailing spaces at the end of the column names if there are any.

In [64]:
# your code here
pd.read_sql('SHOW TABLES;', engine)

  Tables_in_admission_predict
0           admission_predict

In [65]:
df=pd.read_sql('SELECT * FROM admission_predict',engine)

Let's evaluate the dataset by looking at the `head` function.

In [66]:
# your code here
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3,3.5,8,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.8
3,4,314,103,2,2,3,8.21,0,0.65
4,5,330,115,5,4.5,3,9.34,1,0.9

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [67]:
# your code here
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial No.           385 non-null int64
GRE Score            385 non-null int64
TOEFL Score          385 non-null int64
University Rating    385 non-null int64
SOP                  385 non-null object
LOR                  385 non-null object
CGPA                 385 non-null object
Research             385 non-null int64
Chance of Admit      385 non-null object
dtypes: int64(5), object(4)
memory usage: 27.1+ KB

(385, 9)

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [68]:
# your code here
df=df.set_index('Serial No.')

In [69]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3,3.5,8,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.8
4,314,103,2,2,3,8.21,0,0.65
5,330,115,5,4.5,3,9.34,1,0.9

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [70]:
# your code here
df['GRE Score'].unique

<bound method Series.unique of Serial No.
1      337
2      316
3      322
4      314
5      330
6      321
7      308
8      302
9      323
10     327
11     328
12     307
13     311
14     314
15     317
16     319
17     318
18     303
19     325
20     328
21     334
22     336
23     322
24     298
25     295
26     310
27     300
28     327
29     338
30     340
      ...
356    310
357    324
358    336
359    321
360    315
361    304
362    297
363    290
364    303
365    311
366    322
367    319
368    324
369    300
370    340
371    335
372    302
373    307
374    296
375    320
376    314
377    318
378    326
379    317
380    329
381    324
382    325
383    330
384    312
385    333
Name: GRE Score, Length: 385, dtype: int64>

In [71]:
df['CGPA'].unique

<bound method Series.unique of Serial No.
1      9.65
2         8
3      8.67
4      8.21
5      9.34
6       8.2
7       7.9
8         8
9       8.6
10        9
11      9.1
12        8
13      8.2
14      8.3
15      8.7
16        8
17      8.8
18      8.5
19      8.4
20      9.5
21      9.7
22      9.8
23      8.8
24      7.5
25      7.2
26      7.3
27      8.1
28      8.3
29      9.4
30      9.6
       ...
356    8.24
357    9.22
358    9.62
359    8.54
360    7.65
361    7.66
362    7.43
363    7.56
364    7.65
365    8.43
366    8.84
367    8.67
368    9.15
369    8.26
370    9.74
371    9.82
372    7.96
373     8.1
374     7.8
375    8.44
376    8.24
377    8.65
378    9.12
379    8.76
380    9.23
381    9.04
382    9.11
383    9.45
384    8.78
385    9.66
Name: CGPA, Length: 385, dtype: object>

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [72]:
df.set_index(['GRE Score', 'CGPA'], inplace=True)

In [73]:
df

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8,104,3,3,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.8
314,8.21,103,2,2,3,0,0.65
330,9.34,115,5,4.5,3,1,0.9
321,8.2,109,3,3,4,1,0.75
308,7.9,101,2,3,4,0,0.68
302,8,102,1,2,1.5,0,0.5
323,8.6,108,3,3.5,3,0,0.45
327,9,111,4,4,4.5,1,0.84
328,9.1,112,4,4,4.5,1,0.78
307,8,109,3,4,3,1,0.62
311,8.2,104,3,3.5,2,1,0.61
314,8.3,105,3,3.5,2.5,0,0.54
317,8.7,107,3,4,3,0,0.66
319,8,106,3,4,3,1,0.65
318,8.8,110,3,4,3,0,0.63
303,8.5,102,3,3.5,3,0,0.62
325,8.4,114,4,3,2,0,0.7
328,9.5,116,5,5,5,1,0.94
334,9.7,119,5,5,4.5,1,0.95
336,9.8,119,5,4,3.5,1,0.97
322,8.8,109,5,4.5,3.5,0,0.76
298,7.5,98,2,1.5,2.5,1,0.44
295,7.2,93,1,2,2,0,0.46
310,7.3,99,2,1.5,2,0,0.54
300,8.1,97,2,3,3,1,0.65
327,8.3,103,3,4,4,1,0.74
338,9.4,118,4,3,4.5,1,0.91
340,9.6,114,5,4,4,1,0.9
...,...,...,...,...,...,...,...
310,8.24,103,2,2.5,2.5,0,0.72
324,9.22,110,3,3.5,3,1,0.89
336,9.62,119,4,4.5,4,1,0.95
321,8.54,109,3,3,3,1,0.79
315,7.65,105,2,2,2.5,0,0.39
304,7.66,101,2,2,2.5,0,0.38
297,7.43,96,2,2.5,2,0,0.34
290,7.56,100,1,1.5,2,0,0.47
303,7.65,98,1,2,2.5,0,0.56
311,8.43,99,1,2.5,3,1,0.71
322,8.84,104,3,3.5,4,1,0.78
319,8.67,105,3,3,3.5,1,0.73
324,9.15,110,4,4.5,4,1,0.82
300,8.26,100,3,3,3.5,0,0.62
340,9.74,113,4,5,5,1,0.96
335,9.82,117,5,5,5,1,0.96
302,7.96,101,2,2.5,3.5,0,0.46
307,8.1,105,2,2,3.5,0,0.53
296,7.8,97,2,1.5,2,0,0.49
320,8.44,108,3,3.5,4,1,0.76
314,8.24,102,2,2,2.5,0,0.64
318,8.65,106,3,2,3,0,0.71
326,9.12,112,4,4,3.5,1,0.84
317,8.76,104,2,3,3,0,0.77
329,9.23,111,4,4.5,4,1,0.89
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3,3.5,1,0.84
330,9.45,116,4,5,4.5,1,0.91
312,8.78,103,3,3.5,4,0,0.67
333,9.66,117,4,5,4,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [74]:
# your code here
df.reset_index(inplace=True)
df.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8,104,3,3,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.8
3,314,8.21,103,2,2,3,0,0.65
4,330,9.34,115,5,4.5,3,1,0.9

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [75]:
df.dtypes

GRE Score             int64
CGPA                 object
TOEFL Score           int64
University Rating     int64
SOP                  object
LOR                  object
Research              int64
Chance of Admit      object
dtype: object

In [76]:
df=df.astype({'CGPA':'float'})
df=df.astype({'SOP':'float'})
df=df.astype({'LOR':'float'})

In [77]:
df.dtypes

GRE Score              int64
CGPA                 float64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
Research               int64
Chance of Admit       object
dtype: object

In [78]:
# your code here
df[df['CGPA']>9]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.9
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
21,336,9.80,119,5,4.0,3.5,1,0.97
28,338,9.40,118,4,3.0,4.5,1,0.91
29,340,9.60,114,5,4.0,4.0,1,0.9
30,331,9.80,112,5,4.0,5.0,1,0.94
31,320,9.20,110,5,5.0,5.0,1,0.88
39,332,9.10,117,4,4.5,4.0,0,0.87
40,326,9.40,113,5,4.5,4.0,1,0.91
41,322,9.10,110,5,5.0,4.0,1,0.88
42,329,9.30,114,5,4.0,5.0,1,0.86
43,339,9.70,119,5,4.5,4.0,0,0.89
62,327,9.02,114,3,3.0,3.0,0,0.61
64,318,9.22,109,3,3.5,4.0,1,0.68
65,328,9.16,115,4,4.5,4.0,1,0.78
66,332,9.64,118,5,5.0,5.0,1,0.94
67,336,9.76,112,5,5.0,5.0,1,0.96
68,321,9.45,111,5,5.0,5.0,1,0.93
69,314,9.04,108,4,4.5,4.0,1,0.84
77,340,9.50,120,4,5.0,5.0,1,0.96
78,320,9.22,110,5,5.0,4.5,1,0.92
79,322,9.36,115,5,4.0,4.5,1,0.92
80,340,9.45,115,5,4.5,4.5,1,0.94
93,332,9.24,119,4,5.0,4.5,1,0.9
99,326,9.05,112,3,3.5,3.0,1,0.74
101,329,9.18,111,4,4.5,4.5,1,0.87
102,338,9.46,117,4,3.5,4.5,1,0.91
...,...,...,...,...,...,...,...,...
246,331,9.34,119,4,5.0,4.5,1,0.9
247,327,9.13,108,5,5.0,3.5,1,0.87
255,327,9.14,113,4,4.5,5.0,0,0.83
263,329,9.45,113,5,5.0,4.5,1,0.89
268,317,9.11,110,3,4.0,4.5,1,0.8
271,340,9.66,112,4,5.0,4.5,1,0.94
272,331,9.26,116,5,4.0,4.0,1,0.93
273,336,9.19,118,5,4.5,4.0,1,0.92
274,324,9.08,114,5,5.0,4.5,1,0.89
275,314,9.02,104,4,5.0,5.0,0,0.82
284,320,9.11,120,3,4.0,4.5,0,0.86
285,330,9.24,114,3,4.5,4.5,1,0.9
293,323,9.10,110,3,4.0,3.5,1,0.79
298,328,9.18,108,4,4.5,4.0,1,0.84
311,326,9.14,116,3,3.5,4.0,1,0.81
322,332,9.47,118,5,5.0,5.0,1,0.94
346,334,9.54,116,4,4.0,3.5,1,0.93
347,338,9.23,115,5,4.5,5.0,1,0.91
350,330,9.17,114,4,4.5,3.0,1,0.86
356,324,9.22,110,3,3.5,3.0,1,0.89
357,336,9.62,119,4,4.5,4.0,1,0.95
367,324,9.15,110,4,4.5,4.0,1,0.82
369,340,9.74,113,4,5.0,5.0,1,0.96
370,335,9.82,117,5,5.0,5.0,1,0.96
377,326,9.12,112,4,4.0,3.5,1,0.84
379,329,9.23,111,4,4.5,4.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
384,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [79]:
# your code here
df[(df['CGPA']>9) & (df['SOP']<3.5)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [80]:
def asf (xs):
    l=df[f'{xs}'].mean()
    return l
asf('SOP')

3.3766233766233764

In [81]:
df['CGPA'].std()

0.6023853232371412

In [82]:

"""
This function takes a column from a dataframe 
and returns a standardized column by subtracting the column's mean
and dividing by the column's standard deviation.
"""

# your code here
def standardize(col):
    df[f'{col}_std']=(df[f'{col}']-df[f'{col}'].mean())/df[f'{col}'].std()
standardize('CGPA')
standardize('GRE Score')
standardize('LOR')

In [83]:
df.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713

In [84]:
df.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [85]:
# your code here

We will generate the decision choice at random using the code below. Please run the cell.

In [86]:
# Libraries
from random import choices

In [87]:
df.shape

(385, 11)

In [88]:
std_columns = ['CGPA_std', 'GRE Score_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])
decision_choice

['LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [89]:
df['deciding_column']=decision_choice
df

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std
5,321,8.20,109,3,3.0,4.0,1,0.75,-0.659198,0.369192,0.634193,GRE Score_std
6,308,7.90,101,2,3.0,4.0,0,0.68,-1.157218,-0.755462,0.634193,GRE Score_std
7,302,8.00,102,1,2.0,1.5,0,0.5,-0.991211,-1.274533,-2.153072,CGPA_std
8,323,8.60,108,3,3.5,3.0,0,0.45,0.004829,0.542216,-0.480713,LOR_std
9,327,9.00,111,4,4.0,4.5,1,0.84,0.668856,0.888263,1.191647,LOR_std
10,328,9.10,112,4,4.0,4.5,1,0.78,0.834863,0.974775,1.191647,CGPA_std
11,307,8.00,109,3,4.0,3.0,1,0.62,-0.991211,-0.841973,-0.480713,GRE Score_std
12,311,8.20,104,3,3.5,2.0,1,0.61,-0.659198,-0.495926,-1.595619,GRE Score_std
13,314,8.30,105,3,3.5,2.5,0,0.54,-0.493191,-0.236391,-1.038166,GRE Score_std
14,317,8.70,107,3,4.0,3.0,0,0.66,0.170836,0.023145,-0.480713,CGPA_std
15,319,8.00,106,3,4.0,3.0,1,0.65,-0.991211,0.196168,-0.480713,LOR_std
16,318,8.80,110,3,4.0,3.0,0,0.63,0.336843,0.109657,-0.480713,CGPA_std
17,303,8.50,102,3,3.5,3.0,0,0.62,-0.161177,-1.188021,-0.480713,GRE Score_std
18,325,8.40,114,4,3.0,2.0,0,0.7,-0.327184,0.715239,-1.595619,LOR_std
19,328,9.50,116,5,5.0,5.0,1,0.94,1.498890,0.974775,1.749100,CGPA_std
20,334,9.70,119,5,5.0,4.5,1,0.95,1.830903,1.493846,1.191647,LOR_std
21,336,9.80,119,5,4.0,3.5,1,0.97,1.996910,1.666869,0.076740,CGPA_std
22,322,8.80,109,5,4.5,3.5,0,0.76,0.336843,0.455704,0.076740,CGPA_std
23,298,7.50,98,2,1.5,2.5,1,0.44,-1.821244,-1.620580,-1.038166,GRE Score_std
24,295,7.20,93,1,2.0,2.0,0,0.46,-2.319265,-1.880115,-1.595619,LOR_std
25,310,7.30,99,2,1.5,2.0,0,0.54,-2.153258,-0.582438,-1.595619,LOR_std
26,300,8.10,97,2,3.0,3.0,1,0.65,-0.825204,-1.447556,-0.480713,GRE Score_std
27,327,8.30,103,3,4.0,4.0,1,0.74,-0.493191,0.888263,0.634193,LOR_std
28,338,9.40,118,4,3.0,4.5,1,0.91,1.332883,1.839893,1.191647,CGPA_std
29,340,9.60,114,5,4.0,4.0,1,0.9,1.664896,2.012916,0.634193,CGPA_std
...,...,...,...,...,...,...,...,...,...,...,...,...
355,310,8.24,103,2,2.5,2.5,0,0.72,-0.592795,-0.582438,-1.038166,LOR_std
356,324,9.22,110,3,3.5,3.0,1,0.89,1.034071,0.628727,-0.480713,CGPA_std
357,336,9.62,119,4,4.5,4.0,1,0.95,1.698098,1.666869,0.634193,CGPA_std
358,321,8.54,109,3,3.0,3.0,1,0.79,-0.094775,0.369192,-0.480713,GRE Score_std
359,315,7.65,105,2,2.0,2.5,0,0.39,-1.572234,-0.149879,-1.038166,CGPA_std
360,304,7.66,101,2,2.0,2.5,0,0.38,-1.555634,-1.101509,-1.038166,LOR_std
361,297,7.43,96,2,2.5,2.0,0,0.34,-1.937449,-1.707092,-1.595619,CGPA_std
362,290,7.56,100,1,1.5,2.0,0,0.47,-1.721640,-2.312674,-1.595619,CGPA_std
363,303,7.65,98,1,2.0,2.5,0,0.56,-1.572234,-1.188021,-1.038166,CGPA_std
364,311,8.43,99,1,2.5,3.0,1,0.71,-0.277382,-0.495926,-0.480713,GRE Score_std
365,322,8.84,104,3,3.5,4.0,1,0.78,0.403245,0.455704,0.634193,LOR_std
366,319,8.67,105,3,3.0,3.5,1,0.73,0.121034,0.196168,0.076740,LOR_std
367,324,9.15,110,4,4.5,4.0,1,0.82,0.917866,0.628727,0.634193,LOR_std
368,300,8.26,100,3,3.0,3.5,0,0.62,-0.559593,-1.447556,0.076740,CGPA_std
369,340,9.74,113,4,5.0,5.0,1,0.96,1.897306,2.012916,1.749100,GRE Score_std
370,335,9.82,117,5,5.0,5.0,1,0.96,2.030111,1.580357,1.749100,LOR_std
371,302,7.96,101,2,2.5,3.5,0,0.46,-1.057614,-1.274533,0.076740,LOR_std
372,307,8.10,105,2,2.0,3.5,0,0.53,-0.825204,-0.841973,0.076740,CGPA_std
373,296,7.80,97,2,1.5,2.0,0,0.49,-1.323224,-1.793603,-1.595619,GRE Score_std
374,320,8.44,108,3,3.5,4.0,1,0.76,-0.260781,0.282680,0.634193,CGPA_std
375,314,8.24,102,2,2.0,2.5,0,0.64,-0.592795,-0.236391,-1.038166,GRE Score_std
376,318,8.65,106,3,2.0,3.0,0,0.71,0.087833,0.109657,-0.480713,GRE Score_std
377,326,9.12,112,4,4.0,3.5,1,0.84,0.868064,0.801751,0.076740,CGPA_std
378,317,8.76,104,2,3.0,3.0,0,0.77,0.270440,0.023145,-0.480713,GRE Score_std
379,329,9.23,111,4,4.5,4.0,1,0.89,1.050671,1.061286,0.634193,GRE Score_std
380,324,9.04,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,LOR_std
381,325,9.11,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std
382,330,9.45,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std
383,312,8.78,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std
384,333,9.66,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std

In [90]:
df['deciding_column'][0]

'LOR_std'

In [94]:
def combiner(row):
    x=row['deciding_column']
    if row[f'{x}']>0.8:
        return 1
    else:
        return 0

In [95]:
df['decision']=df.apply(lambda row: combiner(row), axis=1)

In [96]:
df.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,0
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std,0
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std,0

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [101]:
# your code here
df[df['decision']==1].shape

(87, 13)

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [102]:
df.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,0
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std,0
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std,0

In [103]:
# your code here
df.columns=df.columns.str.replace(" ","_")

In [104]:
df.columns=df.columns.str.lower()

In [105]:
df.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,0
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std,0
4,330,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
def combiner(row):
    x=row['deciding_column']
    if row[f'{x}']>0.8:
        return 1
    else:
        return 0

In [ ]:
df['decision']=df.apply(lambda row: combiner(row), axis=1)

In [119]:
def boost(row):
    y=row['university_rating']
    if y>=4:
        return row['gre_score']+10
    else:
        return row['gre_score']

In [120]:
df['gre_score']=df.apply(lambda row: boost(row), axis=1)

In [121]:
df.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision
0,347,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,0
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std,0
4,340,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std,0

In [131]:
# your code here
bins = [289, 310,330, 351]
df['adjusted_gre'] = pd.cut(df['gre_score'], bins)

In [130]:
df['gre_score'].max()

350

In [132]:
df

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision,adjusted_gre
0,347,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1,"(330, 351]"
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,CGPA_std,0,"(310, 330]"
2,322,8.67,110,3,3.5,2.5,1,0.8,0.121034,0.455704,-1.038166,GRE Score_std,0,"(310, 330]"
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,GRE Score_std,0,"(310, 330]"
4,340,9.34,115,5,4.5,3.0,1,0.9,1.233279,1.147798,-0.480713,LOR_std,0,"(330, 351]"
5,321,8.20,109,3,3.0,4.0,1,0.75,-0.659198,0.369192,0.634193,GRE Score_std,0,"(310, 330]"
6,308,7.90,101,2,3.0,4.0,0,0.68,-1.157218,-0.755462,0.634193,GRE Score_std,0,"(289, 310]"
7,302,8.00,102,1,2.0,1.5,0,0.5,-0.991211,-1.274533,-2.153072,CGPA_std,0,"(289, 310]"
8,323,8.60,108,3,3.5,3.0,0,0.45,0.004829,0.542216,-0.480713,LOR_std,0,"(310, 330]"
9,337,9.00,111,4,4.0,4.5,1,0.84,0.668856,0.888263,1.191647,LOR_std,1,"(330, 351]"
10,338,9.10,112,4,4.0,4.5,1,0.78,0.834863,0.974775,1.191647,CGPA_std,1,"(330, 351]"
11,307,8.00,109,3,4.0,3.0,1,0.62,-0.991211,-0.841973,-0.480713,GRE Score_std,0,"(289, 310]"
12,311,8.20,104,3,3.5,2.0,1,0.61,-0.659198,-0.495926,-1.595619,GRE Score_std,0,"(310, 330]"
13,314,8.30,105,3,3.5,2.5,0,0.54,-0.493191,-0.236391,-1.038166,GRE Score_std,0,"(310, 330]"
14,317,8.70,107,3,4.0,3.0,0,0.66,0.170836,0.023145,-0.480713,CGPA_std,0,"(310, 330]"
15,319,8.00,106,3,4.0,3.0,1,0.65,-0.991211,0.196168,-0.480713,LOR_std,0,"(310, 330]"
16,318,8.80,110,3,4.0,3.0,0,0.63,0.336843,0.109657,-0.480713,CGPA_std,0,"(310, 330]"
17,303,8.50,102,3,3.5,3.0,0,0.62,-0.161177,-1.188021,-0.480713,GRE Score_std,0,"(289, 310]"
18,335,8.40,114,4,3.0,2.0,0,0.7,-0.327184,0.715239,-1.595619,LOR_std,0,"(330, 351]"
19,338,9.50,116,5,5.0,5.0,1,0.94,1.498890,0.974775,1.749100,CGPA_std,1,"(330, 351]"
20,344,9.70,119,5,5.0,4.5,1,0.95,1.830903,1.493846,1.191647,LOR_std,1,"(330, 351]"
21,346,9.80,119,5,4.0,3.5,1,0.97,1.996910,1.666869,0.076740,CGPA_std,1,"(330, 351]"
22,332,8.80,109,5,4.5,3.5,0,0.76,0.336843,0.455704,0.076740,CGPA_std,0,"(330, 351]"
23,298,7.50,98,2,1.5,2.5,1,0.44,-1.821244,-1.620580,-1.038166,GRE Score_std,0,"(289, 310]"
24,295,7.20,93,1,2.0,2.0,0,0.46,-2.319265,-1.880115,-1.595619,LOR_std,0,"(289, 310]"
25,310,7.30,99,2,1.5,2.0,0,0.54,-2.153258,-0.582438,-1.595619,LOR_std,0,"(289, 310]"
26,300,8.10,97,2,3.0,3.0,1,0.65,-0.825204,-1.447556,-0.480713,GRE Score_std,0,"(289, 310]"
27,327,8.30,103,3,4.0,4.0,1,0.74,-0.493191,0.888263,0.634193,LOR_std,0,"(310, 330]"
28,348,9.40,118,4,3.0,4.5,1,0.91,1.332883,1.839893,1.191647,CGPA_std,1,"(330, 351]"
29,350,9.60,114,5,4.0,4.0,1,0.9,1.664896,2.012916,0.634193,CGPA_std,1,"(330, 351]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,310,8.24,103,2,2.5,2.5,0,0.72,-0.592795,-0.582438,-1.038166,LOR_std,0,"(289, 310]"
356,324,9.22,110,3,3.5,3.0,1,0.89,1.034071,0.628727,-0.480713,CGPA_std,1,"(310, 330]"
357,346,9.62,119,4,4.5,4.0,1,0.95,1.698098,1.666869,0.634193,CGPA_std,1,"(330, 351]"
358,321,8.54,109,3,3.0,3.0,1,0.79,-0.094775,0.369192,-0.480713,GRE Score_std,0,"(310, 330]"
359,315,7.65,105,2,2.0,2.5,0,0.39,-1.572234,-0.149879,-1.038166,CGPA_std,0,"(310, 330]"
360,304,7.66,101,2,2.0,2.5,0,0.38,-1.555634,-1.101509,-1.038166,LOR_std,0,"(289, 310]"
361,297,7.43,96,2,2.5,2.0,0,0.34,-1.937449,-1.707092,-1.595619,CGPA_std,0,"(289, 310]"
362,290,7.56,100,1,1.5,2.0,0,0.47,-1.721640,-2.312674,-1.595619,CGPA_std,0,"(289, 310]"
363,303,7.65,98,1,2.0,2.5,0,0.56,-1.572234,-1.188021,-1.038166,CGPA_std,0,"(289, 310]"
364,311,8.43,99,1,2.5,3.0,1,0.71,-0.277382,-0.495926,-0.480713,GRE Score_std,0,"(310, 330]"
365,322,8.84,104,3,3.5,4.0,1,0.78,0.403245,0.455704,0.634193,LOR_std,0,"(310, 330]"
366,319,8.67,105,3,3.0,3.5,1,0.73,0.121034,0.196168,0.076740,LOR_std,0,"(310, 330]"
367,334,9.15,110,4,4.5,4.0,1,0.82,0.917866,0.628727,0.634193,LOR_std,0,"(330, 351]"
368,300,8.26,100,3,3.0,3.5,0,0.62,-0.559593,-1.447556,0.076740,CGPA_std,0,"(289, 310]"
369,350,9.74,113,4,5.0,5.0,1,0.96,1.897306,2.012916,1.749100,GRE Score_std,1,"(330, 351]"
370,345,9.82,117,5,5.0,5.0,1,0.96,2.030111,1.580357,1.749100,LOR_std,1,"(330, 351]"
371,302,7.96,101,2,2.5,3.5,0,0.46,-1.057614,-1.274533,0.076740,LOR_std,0,"(289, 310]"
372,307,8.10,105,2,2.0,3.5,0,0.53,-0.825204,-0.841973,0.076740,CGPA_std,0,"(289, 310]"
373,296,7.80,97,2,1.5,2.0,0,0.49,-1.323224,-1.793603,-1.595619,GRE Score_std,0,"(289, 310]"
374,320,8.44,108,3,3.5,4.0,1,0.76,-0.260781,0.282680,0.634193,CGPA_std,0,"(310, 330]"
375,314,8.24,102,2,2.0,2.5,0,0.64,-0.592795,-0.236391,-1.038166,GRE Score_std,0,"(310, 330]"
376,318,8.65,106,3,2.0,3.0,0,0.71,0.087833,0.109657,-0.480713,GRE Score_std,0,"(310, 330]"
377,336,9.12,112,4,4.0,3.5,1,0.84,0.868064,0.801751,0.076740,CGPA_std,1,"(330, 351]"
378,317,8.76,104,2,3.0,3.0,0,0.77,0.270440,0.023145,-0.480713,GRE Score_std,0,"(310, 330]"
379,339,9.23,111,4,4.5,4.0,1,0.89,1.050671,1.061286,0.634193,GRE Score_std,1,"(330, 351]"
380,324,9.04,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,LOR_std,0,"(310, 330]"
381,325,9.11,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,LOR_std,0,"(310, 330]"
382,340,9.45,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1,"(330, 351]"
383,312,8.78,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0,"(310, 330]"
384,343,9.66,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,CGPA_std,1,"(330, 351]"